body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
   width: 250px;
   height: auto;
   float: right;
}

.jumbotron h1 {
    font-size: 36px;
}
.athlete_card, .coach_staff, .discipline_group {
    
    display: inline-block;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.athlete_card {
    border: 2px solid black;
}

ul li{
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
}
.coach_staff_list ul li{
    display: block;
}