@model List<TrackTeam.Models.Coach>
@{
    ViewBag.Title = "Index";
}

<h2>Coaching Staff</h2>

<div class="coach_staff_list">
    <ul>
        @{
            foreach (var Coach in Model)
            {
                <li>
                    <a href="/Coach/Details/@Coach.CoachID">@Coach.CoachName</a>
                </li>

            }
        }
    </ul>
</div>

<div><a href="/Coach/New">Add a New Coach</a></div>


