@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO THE TRACK TEAM MANAGER</h1>
    <p class="lead">An easy to use team manager for teams of any size.  From grass-root clubs to high perfomance training groups, we've got you coverd.  Manage according to Coaches, Athletes or Teams</p>
    
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Coaches</h2>
        <p>Become a coach and join a team.  Organize which events and athletes you are coaching</p>
        <p><a class="btn btn-default" href="/Coach/Index">Coaches &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Athletes</h2>
        <p>Organize thousands of athlete entries and organize according to discipline, teams, coaches or event discipline.</p>
        <p><a class="btn btn-default" href="/Athlete/Index">Athletes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="logo" src="~/Content/Images/logo.png" alt="track team manager logo" />
    </div>
</div>